.main-nav {
    display: flex;
    background-color: rgb(145, 143, 58);
    justify-content: space-between;
}

.company-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    padding: 5px;
    font-weight: bold;
    margin: 0.35rem;
}

.sub-nav {
    display: flex;
    margin: 5px;
    background-color: rgb(214, 212, 88);
}

.credit-offer {
    background-color: rgb(145, 143, 58);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}

.credit-offer-box {
    padding: 5px;
    font-weight: bold;
    margin: 0.35rem;
}

.search-form {
    padding: 5px;
    margin: 5px;
    align-items: center;
    flex-grow: 1;
}

input {
    color: black;
}

button {
    color: lightblue;
}

.short-width {
    display: flex;
}

.full-width {
    display: none;
}

.nav-list {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.nav-list > li {
    padding: 3px;
    border: 1rem;
    justify-content: center;
    font-size: 1rem;
}

.nav-list li:last-of-type a {
    border-right: none;
}

@media screen and (min-width: 768px) {
    .sport-width {
        display: none;
    }
    .full-width {
        display: flex;
    }
}